{% extends 'parent/base.html' %}

{% block title %}
رمز عبور با موفقیت تغییر یافت
{% endblock title %}

{% block content %}
<div class="flex items-center justify-center h-[70vh]">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full text-center">
        <h1 class="text-2xl font-bold mb-4 text-gray-800">رمز عبور شما با موفقیت تغییر یافت</h1>
        <p class="text-gray-600 mb-6">
            اکنون می‌توانید با رمز جدید وارد حساب کاربری خود شوید.
        </p>

        <a href="{% url 'blog:login' %}" 
           class="inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition">
            ورود به حساب
        </a>
    </div>
</div>
{% endblock content %}
