{% extends 'parent/base.html' %}

{% block title %}
    Ticket Form
{% endblock title %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ذخیره">
    </form>

    {% if form.errors %}
        <div class="error-messages">
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}
