<form method="get" action="{% url 'blog:posts_search' %}">
    <input type="text" name="query" required placeholder="جستجو...">
    <button type="submit">جستجو</button>
</form>

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'blog:logout' %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="text-red-500 hover:underline bg-transparent border-0 p-0 cursor-pointer">
        خروج
    </button>
    <a href={%url 'blog:password_change'%}> تغییر رمز عبور<a>
</form>

{% else %}
<div>
    <a href="{% url 'blog:login' %}">ورود</a>
</div>
{% endif %}
