{% extends 'parent/base.html' %}

{% load static %}

{% block title %}posts{% endblock %}

{% block content %}
    {% if category %}
    <h1>list of post of {{ category }}</h1>
    {% else %}
        <h1>Post List</h1>
    {% endif %}

    {% if message %}
        <p>
            {{ message }}
        </p>
    {% endif %}
    <ol style="--length: 5" role="list">

        {% for post in posts %}

            <li style="--i: {{ forloop.counter }}">
                <h3><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></h3>
                <p>{{ post.content | truncatewords:5 }}</p>
                {% if post.images.first %}

                <p class="post-image">
                    <img src="{{ post.images.first.image_file.url }}" alt="{{ post.title}}">
                </p>
                {% endif %}

                <p>Posted by: {{ post.author }}</p>
            </li>
            <br>
        {% endfor %}
    </ol>
    {% include 'partials/pagination.html' with page=posts %}
{% endblock %}