{% extends 'parent/base.html' %}
{% load jformat %}
{% load blog_tags %}
{% block title %}
    Post Detail
{% endblock title %}

{% block content %}
    <h1>Post Detail</h1>
    <h2>{{ post.title }} by {{ post.author }}</h2>
    <p>{{ post.content|markdown }}</p>
{% comment %} we load all of images with  {% endcomment %}
    <div class="post-images">
        {% for image in post.images.all %}
            <div class="post-image">
                <img src="{{ image.image.url }}" alt="{{ image.description }}">
                {% if image.description %}
                    <p>{{ image.description }}</p>
                {% endif %}
            </div>
        {% empty %}
            <p>هیچ تصویری برای این پست وجود ندارد.</p>
        {% endfor %}
    </div>

    <br>
    {{ post.PUBLISHED|date:"Y/m/d" }}

    <h3>Comments</h3>
    {% for c in comment %}
        <p><b>{{ c.name }}</b>: {{ c.content }}</p>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

    {% block post_content %}
    <form method="POST" action="{% url 'blog:comment' post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ارسال">
    </form>
    {% endblock post_content %}
{% endblock content %}
